<header class="chatham-stripe"><div class="orange"></div><div class="gray"></div></header>
<nav class="global">
  <section class="navcontent">
    <a hrev="#" class='sitelogo'></a>
    <section id="controls">
      <nav name="menu" id="trading">
        <p>Trading</p>
        <ul name="submenu">
          <li><p>Indications Calculator</p></li>
          <li><p>Indications Monitoring</p></li>
          <li><p>Actives</p></li>
          <li><p>Saved Structures</p></li>
          <li><p>Triggers</p></li>
          <li><p>Pricing Grid</p></li>
          <li><p>Transaction Uploads</p></li>
        </ul>
      </nav>
      <nav name="menu" id="accounting">
        <p>Accounting</p>
        <ul name="submenu">
          <li><p>Summary</p></li>
          <li><p>Effectiveness Tests</p></li>
          <li><p>Credit Spreads</p></li>
        </ul>
      </nav>
      <nav name="menu" id="exposures">
        <p>Exposures</p>
        <ul name="submenu">
          <li><p>Credit</p></li>
          <li><p>Collateral</p></li>
        </ul>
      </nav>
      <nav name="menu" id="reporting">
        <p>Reporting</p>
        <ul name="submenu">
          <li><p>All Reports</p></li>
          <li><p>Shock Reports</p></li>
          <li><p>Accounting Reports</p></li>
          <li><p>Valuation Reports</p></li>
          <li><p>Data Feeds</p></li>
        </ul>
      </nav>
      <nav name="menu" id="operations">
        <p>Operations</p>
        <ul name="submenu">
          <li><p>Valuation Summary</p></li>
          <li><p>Payments</p></li>
          <li><p>Documents</p></li>
          <li><p>Entities</p></li>
          <li><p>Contacts</p></li>
        </ul>
      </nav>
      <nav name="menu" id="help">
        <a href="#">Help</a>
      </nav>
      {{render 'usercontrols'}}
      <div class="clear"></div>
    </section>
  </section>
</nav>
