<nav name="menu" id="usercontrols">
  {{gravatar-image email='christopher.hoffman@gmail.com' size=30}}
  <ul name="submenu">
    <li>
      <p class="name">Chris Hoffman <a href="#">Preferences</a></p>
    </li>
    <li>
      <button class="logout">Log out</button>
    </li>
  </ul>
</nav>
